*{
    margin:0;
    padding:0;

}

h1{
    font-weight:bold;
}

body {
    font-family: 'Century Gothic';
    //background-color: ThreeDDarkShadow;
    //background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("Legacy-code.jpg");
    //height:100vh;
    //background-position: center;
    //background-size: cover;
}

.hero{

    position: absolute;
    width:1140px;
    top:50%;
    left:45%;
    transform:translate(-50%,-50%);

}

header{
    //background-color: forestgreen;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("Legacy-code.jpg");
    //height: 100vh;
    //background-position: center;
    background-size: cover;
    
}

h1{
    color:aliceblue;
}

.main-nav{
    list-style:none;
    float:right;
    margin-top:60px;
    margin-right:30px;
}

.main-nav li{
    display: inline-block;
    margin-left:60px;
}

.main-nav li a{
    color:white;
    text-decoration:none;
    font-size:110%;
    font-weight:bold;
}

.main-nav li a:hover{
    color:red;
    border-bottom:2px solid red;
    transition:all 0.5s ease-in;
    padding:5px 0;
}

.logo img{
    height:300px;
    float:left;
    margin-left:30px;
    margin-top:30px;
}


.btn{
    border:2px solid lightblue;
    color: blue;
    text-decoration:none;
    padding:5px 5px;
    border-radius:10px;
    
}

.button-hobbies{
    margin-top:20px;
    left:inherit;
}

.aboutMe{
    width:70%;
    margin-left:15%;
}



