
h1{
    font-weight:bold;
}

body {
    font-family: 'Century Gothic';
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url("images/MarvelBack.jpg");
    background-size: cover;
    background-position: center;
}



header{

    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.1)),url("images/htmlimage.jpg");
    background-size:auto;
    background-position:center;
    height:100%;
    border-style: solid;
    border-color: darkgrey;
    
}


.main-nav{
    list-style:none;
    float:right;
    margin-top:30px;
    margin-right:60px;
}

.main-nav li{
    display: inline-block;
    margin-left:60px;
}

.main-nav li a{
    color:white;
    text-decoration:none;
    font-size:110%;
    font-weight:bold;
}

.main-nav li a:hover{
    color:skyblue;
    border-bottom:2px solid skyblue;
    transition:all 0.5s ease-in;
    padding:5px 0;
}

#myPic{
    height: 150px;
    width: 90px;
    margin-left: 10px;
}


.btn{
    color: white;
    text-decoration:none;
    padding:5px 5px;
    border-radius:10px;
    font-weight: bold;
    background-color: dodgerblue;
    
    
}*

.aboutMe{
    width:70%;
    text-align: center;
    margin-left:15%;
    padding-bottom: 20px;
    color: dodgerblue;
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: white;


}
span{
    position: absolute;
}
span#mySlogan{
    top:0;
    color: honeydew;
    font-weight: bolder;
    font-size: 20px;
    margin-left: 10%;
    margin-top: 35px;


}

.aboutMeHead{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.features{
    background-color: white;
    background-size:cover;
    background-position: bottom;
}
